<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="SeriesFolders" value ="D:\Series,G:\Series" />-->
    <add key="SeriesFolders" value ="C:\Series" />
    <!--<add key="OrphanFolder" value ="G:\Orphans" />-->
    <add key="OrphanFolder" value ="C:\Series\Orphans" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>